/*Header*/

body {
    font-family: "Montserrat";
}

#title {
    background-color: #ff4c68;
}

.container-fluid {
    padding: 3% 15% 7%;
}

h1 {
    font-family: Montserrat;
    font-size: 3.5rem;
    line-height: 1.5;
    font-weight: 800;
    color: white;
    padding-top: 15%;
}
h2{
    font-family: montserrat;
    font-weight: bold;
    font-size: 3rem;
    line-height: 1.5;
}

.rotate30 {
    transform: rotate(25deg);
    width: 19%;
    position:absolute;
    right: 25%;
}

/*Feature*/
#feature{
    padding: 7% 15%;
    background-color:#fff;
    position: relative;
}
.feature {
    text-align: center;
    font-family: montserrat;
    font-weight: 600;
    font-size: 1.5rem;
}

.feature-p {
    text-align: center;
    font-family: montserrat;
    width: 90%;
    line-height: 1.5;
    padding-top: 0.5%;
    color: darkslategray;
    font-weight: 500;
}

.icon {
    color: lightcoral;
    font-size: 375%;
    margin-left: 35%;
    padding-bottom: 5%;
}

.icon:hover {
    color: #ff4c68;
}

/* Navigation */

.navbar-brand {
    font-family: ubuntu;
    font-size: 2.5rem;
    font-weight: bold;
    padding: 0 0 4.5;
}

.nav-item {
    padding: 0 18px;
}

.download-button {
    margin: 5% 3% 5% 0;
}
/* Testimonials */

#testimonials {
    text-align: center;
    background-color: #ef8172;
    color: #fff;
}
.testimonial-image{
    width: 10%;
    border-radius: 100%;
    margin: 4px;
}
#press{
    text-align: center;
    background-color:#ef8172 ;
    padding-bottom: 3%;
}
.press-logo{
    width: 15%;
    margin: 20px 20px 50px;
}
.carousel-item{
    padding: 7% 16%;
}
.block{
    width: 100%;
}
/* Pricing Section */
#pricing{
    font-family: ubuntu;
    text-align: center;
    padding: 100px;
}
.pricing-column{
    padding: 3% 2%;
}
@media(max-width: 990px){
    #title{
     text-align: center;
    }
    .rotate30{
        position: static;
        transform: rotate(0);
        width:40%;
    }
}
#cta{
    text-align: center;
    background-color: #ff4c68;
    padding: 5% 15%;
}
.ctah{
    font-family: montserrat;
    font-weight: bold;
    color: #fff;
    font-size: 3rem;
}
#footer{
    text-align: center;
    font-size: 0.75rem;
    padding-top: 5%;
    padding-bottom: 4%;
    line-height: 2;


}